<div class="navbar-wrapper">
	<div class="container-fluid">
		<nav class="navbar navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Logo</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/" class="">Início</a></li>
						<li class=" dropdown">
							<a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class=" dropdown">
									<a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Departments</a>
								</li>
								<li><a href="#">Add New</a></li>
							</ul>
						</li>
						<li><a data-ng-href="/#/usuario">Usuários</a></li>
						<li><a data-ng-href="/#/jogador">Jogadores</a></li>
						<li><a data-ng-href="/#/torneio">Torneios</a></li>



						<li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">View Managers</a></li>
								<li><a href="#">Add New</a></li>
							</ul>
						</li>
						<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">View Staff</a></li>
								<li><a href="#">Add New</a></li>
								<li><a href="#">Bulk Upload</a></li>
							</ul>
						</li>
						<li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Change Time Entry</a></li>
								<li><a href="#">Report</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Change Password</a></li>
								<li><a href="#">My Profile</a></li>
							</ul>
						</li>
						<li class=""><a data-ng-href="/#/login"
										data-ng-click="vm.logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>

<!--<ul class="menu">
								<li class="item1"><a href="#" class=""><span class="s1"> </span><i> </i></a>
									<ul class="cute" >
										<li class="subitem1"><a href="#"><span class="s2"> </span>Edit Post</a></li>
										<li class="subitem1"><a href="#"><span class="s3"> </span>Delete Post</a></li>
										<li class="subitem1 subitem2"><a href="#"><span class="s4"> </span>Save Changes</a></li>
									</ul>
								</li>
							</ul>-->
<!--<nav class="navbar navbar-default menu" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Início</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li><a data-ng-href="/#/usuario">Usuários</a></li>
				<li><a data-ng-href="/#/jogador">Jogadores</a></li>
				<li><a data-ng-href="/#/torneio">Torneios</a></li>
			</ul>
		</div>
		<div class="navbar-header">
			<a class="navbar-brand"
			   data-ng-href="/#/login"
			   data-ng-click="vm.logout">Logout</a>
		</div>
	</nav>-->

<!--nav class="navbar navbar-static-top navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav-->

<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav-->
