<div class="row">
	<div class="col-md-12">
		<h1>Torneios</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<button type="button"
				title="Adicionar novo jogador"
				class="btn btn-success btn-sm btn-add"
				data-ng-click="vm.cadastrar()">Torneio
		</button>
	</div>
</div>
<div data-ng-if="vm.lista.length <= 0">
  Nenhum torneio encontrado
  </div>
  <div data-ng-if="vm.lista.length > 0">
<table class="table table-bordered table-striped">
	<thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Período</th>
      <th scope="col" class="text-right">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in vm.lista | orderBy:'id'">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nome}}</td>
      <td>{{item.dataInicial}} à {{item.dataFinal}}</td>
      <td class="text-right">
        <a href=""
        id="editar"
        data-ng-click="vm.editar(item)"
        title="Editar">
       <i class="glyphicon glyphicon-pencil"></i>
     </a>
     <a href=""
        id="btnContratacaoExcluir-{{contrato.id}}"
        data-ng-click="vm.excluir(item)"
        title="Excluir">
       <i class="glyphicon glyphicon-trash"></i>
     </a>
	   </td>
    </tr>
  </tbody>
</table>
</div>