<div class="alert alert-info">
    Usuário: test<br />
    Senha: test
</div>
<div data-ng-show="vm.error"
	 class="alert alert-danger">{{vm.error}}</div>
<form name="vm.form"
	  data-ng-submit="vm.login()"
	  role="form">
	  <div class="account">
			<h3>ACESSE SUA CONTA</h3>
			<div class="sign">
				<i></i>
				<input type="text"
				name="username"
			   id="username"
				data-ng-model="vm.cadastro.username" required />
				<span data-ng-show="vm.form.username.$dirty && vm.form.username.$error.required"
			  class="help-block">Usuário é obrigatório</span>
			</div>
			<div class="sign password">
				<i class="psd"></i>
				<input type="password"
				name="password"
			   id="password"
				data-ng-model="vm.cadastro.password"
				required />
				<span data-ng-show="vm.form.password.$dirty && vm.form.password.$error.required"
		      class="help-block">Senha é obrigatório</span>
			</div>
			<div class="password">				
				<fieldset data-ng-disabled="vm.form.$invalid || vm.dataLoading">
					<input type="submit"
					value="LOGAR"/>
					<img data-ng-if="vm.dataLoading"
			 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</fieldset>
			</div>
		</div>
	  <!--
    <div class="form-group">
        <label for="username">Usuário</label>
        <i class="fa fa-key"></i>
        <input type="text"
		       name="username"
			   id="username"
			   class="form-control"
			   data-ng-model="vm.cadastro.username" required />
        <span data-ng-show="vm.form.username.$dirty && vm.form.username.$error.required"
			  class="help-block">Usuário é obrigatório</span>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <i class="fa fa-lock"></i>
        <input type="password"
		       name="password"
			   id="password"
			   class="form-control"
			   data-ng-model="vm.cadastro.password" required />
        <span data-ng-show="vm.form.password.$dirty && vm.form.password.$error.required"
		      class="help-block">Senha é obrigatório</span>
    </div>
    <div class="form-actions">
        <button type="submit"
				data-ng-disabled="vm.form.$invalid || vm.dataLoading"
				class="btn btn-danger">Login</button>
        <img data-ng-if="vm.dataLoading"
			 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>-->
</form>