<div class="row">
	<div class="col-md-12">
		<h1>Jogadores</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<button type="button"
				title="Adicionar novo jogador"
				class="btn btn-success btn-sm btn-add"
				data-ng-click="vm.cadastrar()">Jogador
		</button>
	</div>
</div>
<table class="table table-responsive table-striped">
	<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="item in vm.lista">
      <th scope="row">{{item.id}}</th>
      <td>{{item.nome}}</td>
      <td>{{item.email}}</td>
      <td>
        <a href=""
        id="editar"
        data-ng-click="vm.editar(item)"
        title="Editar">
       <i class="glyphicon glyphicon-pencil"></i>
     </a>
     <a href=""
        id="btnContratacaoExcluir-{{contrato.id}}"
        data-ng-click="vm.excluir(item)"
        title="Excluir">
       <i class="glyphicon glyphicon-trash"></i>
     </a>
	   </td>
    </tr>
  </tbody>
</table>